[workspace]
members = ["crates/*"]
resolver = "2"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[workspace.dependencies]
bevy = "0.14"
avian3d = "0.1"
nevy = { git = "https://github.com/DrewRidley/nevy", features = ["quic"] }
serde = "1.0"
